body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}
.home-bcg {
  // 0 - 767
  @media screen and (max-width: 767px) {
    background-image: url(../images/header-background-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: 100% 230px;
    background-position: top;
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    (min-resolution: 192dpi) and (max-width: 767px),
    (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/header-background-mobile-2x.jpg);
  }
  // 768 - 1024
  @media screen and (min-width: 768px) {
    background-image: url(../images/header-background-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-size: 100% 230px;
    background-position: top;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../images/header-background-tablet@2x.jpg);
  }
  // 1024+
  @media screen and (min-width: 1024px) {
    background-image: url(../images/header-background-desktop@2x.jpg);
    background-repeat: no-repeat;
    background-size: 100% 230px;
    background-position: top;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    (min-resolution: 192dpi) and (min-width: 1024px),
    (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: url(../images/header-background-desktop@2x.jpg);
  }
}
.library-bcg {
  // 0 - 767
  @media screen and (max-width: 767px) {
    background-image: url(../images/library/header-library-background-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: 100% 230px;
    background-position: top;
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    (min-resolution: 192dpi) and (max-width: 767px),
    (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/library/header-library-background-mobile@2x.jpg);
  }
  // 768 - 1024
  @media screen and (min-width: 768px) {
    background-image: url(../images/library/header-library-background-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-size: 100% 230px;
    background-position: top;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../images/library/header-library-background-tablet@2x.jpg);
  }
  // 1024+
  @media screen and (min-width: 1024px) {
    background-image: url(../images/library/header-library-background-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-size: 100% 230px;
    background-position: top;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    (min-resolution: 192dpi) and (min-width: 1024px),
    (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: url(../images/library/header-library-background-desktop@2x.jpg);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
button {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
p {
  margin: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.hidden {
  visibility: hidden;
  display: none;
}
