// UTILS

@import './utils/variables';

// BASE

@import './base/container';

//LAYOUTS
@import './layouts/header';
@import './layouts/hero';
@import './layouts/apiItems';
@import './layouts/footer';
@import './layouts/modal';
@import './layouts/img.scss';
@import './layouts/_header-modal';
@import './layouts/pagination';
@import './layouts/spinner';
@import './layouts/up-down-btns';
@import './base/common';
