<div class="background-image arehidden"><img src="./images/thumb.jpg" alt="???"></div>
<div class="layout slideInUp container">
  <ul class="layout__list"></ul>
</div>
<div id="pagination" class="paginator">
  <div class="arrow-left">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="16"
      width="16"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M7 16l-4-4m0 0l4-4m-4 4h18"
      />
    </svg>
  </div>
  <div id="pagination-num-buttons"></div>
  <div class="arrow-right">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="16"
      width="16"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M17 8l4 4m0 0l-4 4m4-4H3"
      />
    </svg>
  </div>
</div>
