<footer class="footer">
  <div class="container footer__content">
    <p class="footer__text">
      &copy; 2021 | All Rights Reserved | Developed with
      <span>
        <svg class="footer__heart" width="14" height="13">
          <use href="./images/icons.svg#heart"></use>
        </svg>
      </span>
      by
      <button class="footer__modal-btn" type="button"data-modal-open>GoIT Students</button>
        <div class="footer__modal">
          <div class="footer__backdrop is-hidden" data-modal>
            <ul class="students-list">
              <li class="student-item">
                    <a href=""><img class="student__img" src="https://www.meme-arsenal.com/memes/1594e3d231fed5eebf50de85c9ac6bd9.jpg" alt="photo"></a>
                    <p class="student__name">Богдан Косяк</p>
                    <a href="#" class="student__linktoGH"></a></li>
              <li class="student-item">
                    <a href=""><img class="student__img" src="https://www.meme-arsenal.com/memes/1594e3d231fed5eebf50de85c9ac6bd9.jpg" alt="photo"></a>
                    <p class="student__name">Євген Данілов</p>
                    <a href="#" class="student__linktoGH"></a></li>      
              <li class="student-item">
                    <a href=""><img class="student__img" src="https://www.meme-arsenal.com/memes/1594e3d231fed5eebf50de85c9ac6bd9.jpg" alt="photo"></a>
                    <p class="student__name">Андрій Іваніченко</p>
                    <a href="#" class="student__linktoGH"></a></li>
              <li class="student-item">
                    <a href=""><img class="student__img" src="https://www.meme-arsenal.com/memes/1594e3d231fed5eebf50de85c9ac6bd9.jpg" alt="photo"></a>
                    <p class="student__name">Артур Тарканій</p>
                    <a href="#" class="student__linktoGH"></a></li>
              <li class="student-item">
                    <a href=""><img class="student__img" src="https://www.meme-arsenal.com/memes/1594e3d231fed5eebf50de85c9ac6bd9.jpg" alt="photo"></a> 
                    <p class="student__name">Михайло Чікрізов</p>
                    <a href="#" class="student__linktoGH"></a></li>
              <li class="student-item">
                    <a href=""><img class="student__img" src="https://www.meme-arsenal.com/memes/1594e3d231fed5eebf50de85c9ac6bd9.jpg" alt="photo"></a>
                    <p class="student__name">Анастасія Доготарь</p>
                    <a href="#" class="student__linktoGH"></a></li>
              <li class="student-item">
                    <a href=""><img class="student__img" src="https://www.meme-arsenal.com/memes/1594e3d231fed5eebf50de85c9ac6bd9.jpg" alt="photo"></a>
                    <p class="student__name">Наталія Погребна</p>
                    <a href="#" class="student__linktoGH"></a></li>
              <li class="student-item">
                    <a href=""><img class="student__img" src="https://www.meme-arsenal.com/memes/1594e3d231fed5eebf50de85c9ac6bd9.jpg" alt="photo"></a>
                    <p class="student__name">Сергій Животовський</p>
                    <a href="#" class="student__linktoGH"></a></li>
              <li class="student-item">
                    <a href=""><img class="student__img" src="https://www.meme-arsenal.com/memes/672ddb934d05159d94b07cf107703f3d.jpg" alt="photo"></a>
                    <p class="student__name">Олександр Осадчук</p>
                    <a href="#" class="student__linktoGH"></a></li>
              
            </ul>
          </div>
        </div>
        </div>
      </div>
    </p>
  </div>
</footer>