<form class="search-form" id="search-form">
  <input
    class="search-input"
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Поиск фильмов"
  />
  <svg class="search-svg">
<use class="search-svg-use" href="./images/icons.svg#search" alt=""></use>
</svg>
  <!-- <button type="submit">Search</button> -->
</form>
<!-- <div class="error-div">
<p class="error-text"></p>
</div> -->
<div class="libraryBtns">
  <button type="button" class="watched"> Watched</button>
  <button type="button" class="queue">Queue</button>
 
</div>