<div class="modal">
    <div class="container">
        <a href="" class="modal__img-link">
            <img class="modal__img" src="" alt="картинка">
        </a>
        <h2 class="modal__title"></h2>
        <div class="modal__description-wrapper">
            <ul class="modal__description">
                <li class="modal__description-title"></li>
                <li class="modal__description-title"></li>
                <li class="modal__description-title"></li>
                <li class="modal__description-title"></li>
            </ul>
            <ul class="modal__description">
                <li class="modal__desription-value">
                    <span class="modal__value modal__accent"></span>
                    <span class="modal__value"></span>
                </li>
                <li class="modal__desription-value modal__caps"></li>
                <li class="modal__desription-value modal__caps"></li>
                <li class="modal__desription-value"></li>
            </ul>
        </div>
        <h3 class="modal__about"></h3>
        <p class="modal__about-text"></p>
        <button type="button" class="button watched__button"></button>
        <button type="button" class="button queve__button"></button>
    </div>
</div>