<div class="modal">
    <div class="container">
        <div class="modal__wrapper">
            <div class="modal__image">
                <a href="" class="modal__img-link">
                    <img class="modal__img" src="https://wehco.media.clients.ellingtoncms.com/img/photos/2018/06/18/resized_250499-tv-col-0619_70-24767_t800.jpg?90232451fbcadccc64a17de7521d859a8f88077d" alt="картинка">
                </a>
            </div>
            <div class="modal__content">
                <h2 class="modal__title">A FISTFUL OF LEAD</h2>
            <div class="modal__description-wrapper">
                <ul class="modal__description">
                    <li class="modal__description-title">Vote / Votes</li>
                    <li class="modal__description-title">Popularity</li>
                    <li class="modal__description-title">Original Title</li>
                    <li class="modal__description-title">Genre</li>
                </ul>
                <ul class="modal__description-list">
                    <li class="modal__description-value">
                        <span class="modal__value modal__accent">7.3</span>
                        <span class="modal__line">/</span>
                        <span class="modal__value modal__second-accent">1260</span>
                    </li>
                    <li class="modal__description-value modal__caps">100.2</li>
                    <li class="modal__description-value modal__caps">A FISTFUL OF LEAD</li>
                    <li class="modal__description-value">Western</li>
                </ul>
            </div>
            <h3 class="modal__about">About</h3>
            <p class="modal__about-text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</p>
            <div class="modal__button">
                <button type="button" class="button watched__button">add to Watched</button>
            <button type="button" class="button queve__button">add to queue</button>
            </div>
            </div>
        </div>
    </div>
</div>