.header {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 45px 20px;
  padding-bottom: 0;
  font-weight: 500;
  color: var(--white-color);
}

.film {
  color: var(--white-color);
  font-size: 30px;
  line-height: 1.72;
  font-weight: 500;
  margin-left: 12px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.login-btn,
.signUp-btn {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.16;
  text-transform: uppercase;
  border: none;
  color: inherit;
  background-color: transparent;
}
.login-btn:hover::after,
.signUp-btn:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7%;
  background-color: var(--accent-color);
  width: 100%;
  height: 3px;
  border-radius: 2px;
}
@media screen and (min-width: 320px) {
  .auth-buttons {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 25%;
    font-size: 12px;
    line-height: 1.16;
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .film {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: flex;
    margin-left: 102px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    margin-left: 303px;
  }
  .auth-buttons {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 150px;
    font-size: 12px;
    line-height: 1.16;
    margin-left: auto;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    margin-left: 524px;
  }
}
.auth-buttons {
  position: absolute;
  left: 45px;
  top: 20px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 150px;
  font-size: 20px;
  line-height: 1.16;
  margin-left: auto;
}

.navigation__container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: var(--white-color);
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
}
.list {
  display: flex;
}
.logo__svg {
  width: 29px;
  height: 29px;
  align-self: center;
}

.icon-film {
  width: 29px;
  height: 29px;
  align-self: center;
}

@media screen and (max-width: 479px) {
  .film {
    display: none;
  }
}
.menu__item {
  position: relative;
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 34px;
  }
}

.menu__link {
  font-size: 12px;
  line-height: 1.16;
  color: var(--white-color);
}
.menu__link-library {
  display: block;
  white-space: nowrap;
}
.menu__link:hover::after,
.menu__link:focus::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7%;
  background-color: var(--accent-color);
  width: 100%;
  height: 3px;
  border-radius: 2px;
}

.menu__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7%;

  width: 100%;
  height: 3px;
  border-radius: 2px;

  background-color: var(--accent-color);
}
.hide-after::after {
  display: none;
}

.auth-buttons a {
  color: #cacaca;
  position: relative;

  &:hover {
    color: var(--white-color);
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -15%;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: var(--accent-color);
      z-index: 10;
    }
  }
}
// ANIMATIONS
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
