.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 45px 20px;
  padding-bottom: 0;
  font-weight: 500;
  color: var(--white-color);
}

.film {
  color: var(--white-color);
  font-size: 30px;
  line-height: 1.72;
  font-weight: 500;
  margin-left: 12px;
}
@media screen and (max-width: 767px) {
  .film {
    display: none;
  }
}


@media screen and (max-width: 767px) {
  .menu {
    display: flex;
    margin-left: 102px;
  }
  }
  @media screen and (min-width: 768px) {
    .menu {
      display: flex;
      margin-left: 303px;
    }
    }
    @media screen and (min-width: 1024px) {
      .menu {
        display: flex;
        margin-left: 524px;
      }
      }

.navigation__container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: var(--white-color);
}

.logo {
  position: relative;
    display: flex;
    align-items: center;
}
.list {
  display: flex;
}
.logo__svg {
  width: 29px;
  height: 29px;
  align-self: center;
}

.icon-film {
  width: 29px;
  height: 29px;
  align-self: center;
}
@media screen and (max-width: 479px) {
  .film {
    display: none;
  }
}
.menu__item {
  position: relative;
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 34px;
  }
  
}

.menu__link {
  font-size: 12px;
  line-height: 1.16;
  color: var(--white-color);
}
.menu__link-library {
  display: block;
  white-space: nowrap;
}


.menu__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7%;

  width: 34px;
  height: 3px;
  border-radius: 2px;

  background-color: var(--accent-color);
}
