.search-form {
  display: flex;
  position: relative;
  width: 280px;
  margin: 0 auto 22px;
  justify-content: center;
}
.search-svg {
  background-color: transparent;
  // color: aqua;
  // fill: magenta;
  width: 20px;
  height: 32px;
  stroke: rgb(154, 160, 160);
  position: absolute;
  margin-left: 90%;
}
// .search-svg-use {
//   fill: magenta;
// }
.search-input {
  width: 280px;
  height: 30px;
  padding: 4px 0;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.5px solid color #fff;
  outline: none;

  background-color: inherit;

  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;

  &::placeholder {
    color: #fff;
  }

  &:hover,
  &:focus {
    border-bottom: 0.5px solid magenta;
  }

  transition-property: border-bottom;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.error-text {
  color: red;
  // justify-content: center;
  // align-items: center;
  position: absolute;
  display: block;
}
.error-div {
  justify-content: center;
  align-items: center;
  display: block;
}
.libraryBtns {
  display: flex;
  justify-content: space-between;
  width: 290px;
  margin: auto;
  & > button {
    background-color: transparent;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px white solid;
    width: 136px;
    height: 44px;
    &:hover,
    &:focus {
      border-color: transparent;
      background-color: #ff6b01;
    }
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
